<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home" routerLinkActive="active">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/products" routerLinkActive="active">Shopping Cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/contact" routerLinkActive="active">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/aboutus" routerLinkActive="active">About Us</a>
        </li>
        <li class="nav-item" *ngIf="!authService.isLoggedIn()">
          <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/productsapi" routerLinkActive="active">ProductsApi</a>
        </li>
      </ul>
      <span class="navbar-text mx-4">
         <li class="nav-item">
          <a class="nav-link " routerLink="/loginapi" routerLinkActive="active">LoginApi</a>
        </li>
      </span>
      <span class="navbar-text mx-4">
         <li class="nav-item" >
          <a class="nav-link " routerLink="/login" routerLinkActive="active">Login</a>
        </li>
      </span>
      <span>
        <li *ngIf="authService.isLoggedIn()">
      <button (click)="logout()">Logout</button>
    </li>
      </span>
    </div>
  </div>
</nav>

<div class="banner">
  <img src="Assets\pexels-隔壁光头老王-wangming'photo-354939 (1).jpg" class="img-fluid w-100" alt="Banner">
</div>