<h2>Login with API</h2>

    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <label class="form-label fw-bold">Username</label>
      <input
        class="form-control mb-3"
        type="text"
        placeholder="type username"
        formControlName="username"
      />
      <label class="form-label fw-bold">Password</label>
      <input
        class="form-control mb-3"
        type="password"
        placeholder="type password"
        formControlName="password"
      />

      <button type="submit" class="btn btn-primary">Login</button>
    </form>

    @if (error) {
    <div class="text-danger">{{ error }}</div>
    }